.comp4 {
  display: flex;
  gap: 24px;
}

.div1 {
  border: 1px yellow solid;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: green;
}

.div2 {
  border: 1px red solid;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: purple;
}
